{{ 'section-combo-sale.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<style>.tw-items-center {
  align-items: center;
  gap: 12px;
}

.feature-icon svg {
    display: block;
}
</style>
<div class="combo-sale-section">
  <div class="combo-sale-container section">
    <h2 class="combo-sale-title">{{ section.settings.title }}</h2>
    <div class="combo-sale-description">
      {{ section.settings.description }}
    </div>
    <div class="tw-border-b tw-border-solid tw-border-stone-400 tw-mb-4 tw-overflow-hidden">
    <div class="tw-flex tw-justify-between tw-py-6 tw-overflow-x-auto tw-gap-6">
      {%- for block in section.blocks -%}
        <div class="tw-flex tw-items-center" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'feature' -%}
              <div class="feature-icon">
                {{ block.settings.icon }}
              </div>
              <span class="text-with-icons__text-wrapper tw-text-nowrap">{{ block.settings.text }}</span>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
</div>

{% schema %}
{
  "name": "Combo Sale",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Combo Sale"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Aipas has introduced a family package where purchasing two units together will provide even greater savings. This price is already the lowest on the market. While we cannot guarantee how long this pricing will last, we will strive to extend the promotion for as long as possible. We hope our customers can be patient as we process and ship their orders.</p>"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Feature text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Combo Sale",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %} 